<div class="error">
  <div class="error-body">
    <h1 class="error-heading">Server Error</h1>
    <h4 class="error-subheading">Looks like something went wrong!</h4>
    <p><small>We track these errors automatically, but if the problem persists feel free to <a href="#">contact us</a>.</small></p>
    <p><a class="btn btn-primary btn-pill btn-thick" ui-sref="dashboards.dashboard-1">Return to homepage</a></p>
  </div>
  <div class="error-footer">
    <ul class="list-inline">
      <li>
        <a class="link-muted" href="#">
          <span class="icon icon-twitter icon-2x"></span>
        </a>
      </li>
      <li>
        <a class="link-muted" href="#">
          <span class="icon icon-facebook-official icon-2x"></span>
        </a>
      </li>
      <li>
        <a class="link-muted" href="#">
          <span class="icon icon-linkedin icon-2x"></span>
        </a>
      </li>
    </ul>
    <p><small>© 2016 Elephant, LLC</small></p>
  </div>
</div>