<div class="layout-content-body">
  <div class="compose">
    <div class="compose-header">
      <div class="compose-field">
        <div class="compose-field-right">
          <div class="btn-group">
            <button class="btn btn-link link-muted ng-scope" title="Show Cc" data-target="#cc" data-toggle="collapse" type="button">
              <small>Cc</small>
            </button>
            <button class="btn btn-link link-muted ng-scope" title="Show Bcc" data-target="#bcc" data-toggle="collapse" type="button">
              <small>Bcc</small>
            </button>
          </div>
        </div>
        <div class="compose-field-left">
          <button class="compose-label" type="button">To</button>
        </div>
        <div class="compose-field-body">
          <input class="compose-input" type="text" name="to" autocomplete="off" spellcheck="false">
        </div>
      </div>
      <div class="compose-fields">
        <div class="collapse" id="cc">
          <div class="compose-field">
            <div class="compose-field-left">
              <button class="compose-label" type="button">Cc</button>
            </div>
            <div class="compose-field-body">
              <input class="compose-input" type="text" name="cc" autocomplete="off" spellcheck="false">
            </div>
          </div>
        </div>
        <div class="collapse" id="bcc">
          <div class="compose-field">
            <div class="compose-field-left">
              <button class="compose-label" type="button">Bcc</button>
            </div>
            <div class="compose-field-body">
              <input class="compose-input" type="text" name="bcc" autocomplete="off" spellcheck="false">
            </div>
          </div>
        </div>
      </div>
      <div class="compose-field">
        <div class="compose-field-body">
          <input class="compose-input" type="text" name="subject" placeholder="Add a subject">
        </div>
      </div>
    </div>
    <div class="compose-body">
      <div class="compose-message">
            <div text-angular ng-model="htmlContent" name="demo-editor" ta-toolbar-button-class="btn btn-link btn-sm link-muted"></div>
      </div>
      <div class="compose-actions">
        <button class="btn btn-primary" type="button">Send</button>
        <button class="btn btn-default" type="button">Discard</button>
      </div>
    </div>
  </div>
</div>
