<div class="contacts">
  <div ng-class="{active: sidebar.isActive}" class="contacts-sidebar active">
    <div class="contacts-sidebar-header">
      <div class="title-bar">
        <h1 class="title-bar-title">
          <span class="d-ib">Contacts</span>
          <span class="d-ib">
            <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
              <span class="sr-only">Add to shortcut list</span>
            </a>
          </span>
        </h1>
      </div>
      <form class="search" action="/">
        <div class="form-group form-group-sm">
          <div class="input-with-icon">
            <input class="form-control" type="text" placeholder="Search for anyone&hellip;">
            <span class="icon icon-search input-icon"></span>
          </div>
        </div>
      </form>
    </div>
    <div class="contacts-sidebar-body">
      <div class="custom-scrollbar" custom-scrollbar>
        <div class="contacts-list">
          <div ng-repeat="(group, contacts) in groupedContacts">
            <div class="contacts-list-divider">
              <div class="contacts-list-heading">{{ group}}</div>
            </div>
            <div ng-repeat="contact in contacts">
              <div class="contacts-list-item">
                <a class="contacts-list-link" ng-click="show(contact)" ng-class="{active: contact.isActive}">
                  <div class="contacts-list-avatar">
                    <img class="rounded" width="40" height="40" ng-src="{{ contact.photo}}">
                  </div>
                  <div class="contacts-list-details">
                    <h5 class="contacts-list-name">
                      <span class="truncate">{{ contact.firstName}} {{ contact.lastName}}</span>
                    </h5>
                    <small class="contacts-list-email">
                      <span class="truncate">{{ contact.email}}</span>
                    </small>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-class="{active:!sidebar.isActive}" class="contacts-content">
    <div ng-show="currentContact" class="contacts-content-header">
      <div class="contacts-toolbar">
        <div class="contacts-toolbar-tools pull-xs-left">
          <div class="btn-group hidden-md hidden-lg">
            <button class="btn btn-link link-muted" ng-click="setSidebarActive()" type="button">
              <span class="icon icon-caret-left icon-lg icon-fw"></span>
              Contacts
            </button>
          </div>
        </div>
        <div class="contacts-toolbar-tools pull-sm-left">
          <div class="btn-group">
            <button class="btn btn-link link-muted" type="button">
              <span class="icon icon-star-o icon-lg icon-fw"></span>
              <span class="visible-lg-inline">Not starred</span>
            </button>
            <button class="btn btn-link link-muted" type="button">
              <span class="icon icon-trash icon-lg icon-fw"></span>
              <span class="visible-lg-inline">Delete</span>
            </button>
            <div class="btn-group dropdown">
              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                <span class="icon icon-bars icon-lg icon-fw"></span>
                <span class="visible-lg-inline">Assign to lists</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Family</a></li>
                <li><a href="#">Friends</a></li>
                <li class="divider"></li>
                <li><a href="#">New contact list</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contacts-toolbar-tools pull-xs-right">
          <div class="btn-group hidden-xs">
            <span>
              <b>1</b> of 29</span>
          </div>
          <div class="btn-group hidden-xs">
            <button class="btn btn-link link-muted" type="button">
              <span class="icon icon-angle-left icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted" type="button">
              <span class="icon icon-angle-right icon-lg"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="currentContact" class="contacts-content-body">
      <div class="contacts-avatar">
        <label class="contacts-avatar-btn">
          <span class="icon icon-camera"></span>
          <input class="file-upload-input" type="file" name="file">
        </label>
        <img class="img-rounded" width="128" height="128" src="{{ currentContact.photo}}" alt="{{ currentContact.firstName}} {{ currentContact.lastName}}">
      </div>
      <div class="contacts-info">
        <h2 class="contacts-name">{{ currentContact.firstName}} {{ currentContact.lastName}}</h2>
        <p class="contacts-job-title">{{ currentContact.jobTitle}} at {{ currentContact.employer}}</p>
      </div>
      <div class="contacts-form">
        <form class="form-horizontal" action="/">
          <div class="form-groups">
            <div class="form-group">
              <label class="col-md-3 control-label">First Name</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" value="{{ currentContact.firstName}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Middle Name</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Last Name</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" value="{{ currentContact.lastName}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Email</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="email" value="{{ currentContact.email}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Mobile</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" value="{{ currentContact.mobile}}">
              </div>
            </div>
          </div>
          <div class="form-groups">
            <div class="form-group">
              <label class="col-md-3 control-label">Job Title</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" value="{{ currentContact.jobTitle}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Employer</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" value="{{ currentContact.employer}}">
              </div>
            </div>
          </div>
          <div class="form-groups">
            <div class="form-group">
              <label class="col-md-3 control-label">Notes</label>
              <div class="col-md-9 col-lg-6">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary" type="button">Save</button>
                <button class="btn btn-default" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div ng-hide="currentContact" class="contacts-settings-body">
      <div class="contacts-settings-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <span class="icon icon-share icon-3x icon-fw"></span>
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Import Contacts</h3>
                  <p class="media-description">
                    <small>Import your contacts from another account.</small>
                  </p>
                  <p class="media-action"><a class="btn btn-default btn-sm" href="#">Import contacts</a></p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <span class="icon icon-clone icon-3x icon-fw"></span>
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Duplicate Contacts</h3>
                  <p class="media-description">
                    <small>Find and fix duplicate contacts from your list.</small>
                  </p>
                  <p class="media-action"><a class="btn btn-default btn-sm" href="#">Find duplicates</a></p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <span class="icon icon-refresh icon-3x icon-fw"></span>
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Sync Contacts</h3>
                  <p class="media-description">
                    <small>Sync contacts with your Apple or Android device.</small>
                  </p>
                  <p class="media-action"><a class="btn btn-default btn-sm" href="#">Sync contacts</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
