<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Cropper</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      Image Cropper presented below is a <a href="https://fengyuanchen.github.io/cropper/" target="_blank">Cropper</a> plugin, for which we have created a toolbar in order to have a more compact view.
    </p>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="cropper">
        <div class="cropper-img">
          <img class="img-responsive" src="img/8694637414.jpg" alt="Cropper image"  ng-cropper ng-cropper-proxy="cropperProxy" ng-cropper-show="showEvent" ng-cropper-hide="hideEvent" ng-cropper-options="options">
        </div>
        <div class="cropper-toolbar">
          <div class="btn-group">
            <button class="btn btn-link link-muted hidden-xs" ng-click="cropper('setDragMode', 'move')" type="button">
              <span class="icon icon-arrows icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted hidden-xs" ng-click="cropper('setDragMode', 'crop')" type="button">
              <span class="icon icon-crop icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted" ng-click="cropper('zoom', 0.1)" type="button">
              <span class="icon icon-search-plus icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted" ng-click="cropper('zoom', -0.1)" type="button">
              <span class="icon icon-search-minus icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted" ng-click="cropper('rotate', -45)" type="button">
              <span class="icon icon-rotate-left icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted" ng-click="cropper('rotate', 45)" type="button">
              <span class="icon icon-rotate-right icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted" ng-click="cropper('crop')" type="button">
              <span class="icon icon-check icon-lg"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>