<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Form wizard</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>It is example of simple wizard build with Angular plugin - ui-router based on diferent state view. You can use standard angular validation also with this form.</small>
    </p>
  </div><!-- /.title-bar -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="demo-form-wrapper">
        <form name="signupForm" class="signup-form" novalidate>
          <ul class="steps">
            <li class="step col-xs-4" ui-sref-active="active">
              <a class="step-segment" ui-sref=".step-one">
                <span class="step-icon icon icon-user"></span>
              </a>
              <div class="step-content">
                <strong class="hidden-xs">Personal account</strong>
              </div>
            </li>
            <li class="step col-xs-4" ui-sref-active="active">
              <a class="step-segment" ui-sref=".step-two">
                <span class="step-icon icon icon-cubes"></span>
              </a>
              <div class="step-content">
                <strong class="hidden-xs">Choose plan</strong>
              </div>
            </li>
            <li class="step col-xs-4" ui-sref-active="active">
              <a class="step-segment" ui-sref=".step-three">
                <span class="step-icon icon icon-credit-card"></span>
              </a>
              <div class="step-content">
                <strong class="hidden-xs">Payment details</strong>
              </div>
            </li>
          </ul>
          <div class="tab-content" ui-view>

          </div>
        </form>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.layout-content-body -->
