<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Form validation</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>Form and controls provide validation services, so that the user can be notified of invalid input before submitting a form. This provides a better user experience than server-side validation alone because the user gets instant feedback on how to correct the error.</small>
    </p>
  </div><!-- /.title-bar -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="demo-form-wrapper">
        <form role="form" name="form_validation" novalidate ng-submit="formValidation()">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" name="name" ng-model="name" required>
            <div ng-show="form_validation.name.$invalid && form_validation.submitted">
              <div class="text-danger m-y-sm" ng-show="form_validation.name.$error.required">This field is required.</div>
            </div>
            <small class="help-block">Displayed on your profile and in other places as your username.</small>
          </div>
          <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" type="email" name="email" ng-model="email" autocomplete="off" required>
            <div ng-show="form_validation.email.$invalid && form_validation.submitted">
              <div class="text-danger m-y-sm" ng-show="form_validation.email.$error.required">This field is required.</div>
              <div class="text-danger m-y-sm" ng-show="form_validation.email.$error.email">Please enter a valid email address.</div>
            </div>
            <small class="help-block">Available publicly, but not shown on your profile.</small>
          </div>
          <div class="form-group">
            <label class="control-label">About You</label>
            <textarea class="form-control" name="biography" ng-model="biography"  rows="3" required></textarea>
            <div ng-show="form_validation.biography.$invalid && form_validation.submitted">
              <div class="text-danger m-y-sm" ng-show="form_validation.biography.$error.required">This field is required.</div>
            </div>
            <small class="help-block">Write some details about yourself to fill out your profile.</small>
          </div>
          <div class="form-group custom-controls-stacked">
            <label class="custom-control custom-control-primary custom-radio">
              <input class="custom-control-input" type="radio" name="tagging" value="all" required>
              <span class="custom-control-indicator"></span>
              <small class="custom-control-label">Allow anyone to tag you</small>
            </label>
            <label class="custom-control custom-control-primary custom-radio">
              <input class="custom-control-input" type="radio" name="tagging" value="following" required>
              <span class="custom-control-indicator"></span>
              <small class="custom-control-label">Only allow people I follow to tag you</small>
            </label>
            <label class="custom-control custom-control-primary custom-radio">
              <input class="custom-control-input" type="radio" name="tagging" value="none" required>
              <span class="custom-control-indicator"></span>
              <small class="custom-control-label">Do not allow anyone to tag you</small>
            </label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.layout-content-body -->
