<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Page layouts</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" ui-sref="root.#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>Bootstrap by default offers a powerful grid system and a few wrapping containers for laying out your project. Layout component created specifically for the Elephant, allows full and effective control on regions such as: header, footer, sidebar and content. By changing variable values stated in _variables.scss file, under the section Layout you can change these region’s dimensions, colours, etc.</small>
    </p>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="text-center">
        <h5>Static layout</h5>
        <a class="page-layouts-link" ui-sref="root.static-layout">
          <img class="img-responsive" src="img/8907917568.png" alt="Static layout">
        </a>
        <p>
          <small>Regions: header, sidebar, content.</small>
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="text-center">
        <h5>Header fixed</h5>
        <a class="page-layouts-link" ui-sref="root.header-fixed-layout">
          <img class="img-responsive" src="img/9346320298.png" alt="Header fixed">
        </a>
        <p>
          <small>Regions: header, footer, sidebar, content.</small>
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="text-center">
        <h5>Header and sidebar fixed</h5>
        <a class="page-layouts-link" ui-sref="root.header-sidebar-fixed-layout">
          <img class="img-responsive" src="img/9438147354.png" alt="Header and sidebar fixed">
        </a>
        <p>
          <small>Regions: header, footer, sidebar, content.</small>
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="text-center">
        <h5>Footer fixed</h5>
        <a class="page-layouts-link" ui-sref="root.footer-fixed-layout">
          <img class="img-responsive" src="img/9540314125.png" alt="Footer fixed">
        </a>
        <p>
          <small>Regions: header, footer, sidebar, content.</small>
        </p>
      </div>
    </div>
  </div>
</div>