<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Progress bars</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>The progress bar component that is part of Bootstrap is expanded with several variants and some additional classes.</small>
    </p>
  </div><!-- /.title-bar -->
  <button type="button" class="btn btn-sm btn-primary m-b" ng-click="random(); randomStacked()">Randomize</button>
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h5>Default progress bar</h5>
        <uib-progress class="progress-xs">
          <uib-bar class="progress-bar" value="dynamic" max="max" type="primary"></uib-bar>
        </uib-progress>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h5>Success progress bar</h5>
        <uib-progress class="progress-xs">
          <uib-bar class="progress-bar" value="dynamic" max="max" type="success"></uib-bar>
        </uib-progress>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h5>Info progress bar</h5>
        <uib-progress class="progress-xs">
          <uib-bar class="progress-bar" value="dynamic" max="max" type="info"></uib-bar>
        </uib-progress>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h5>Warning progress bar</h5>
        <uib-progress class="progress-xs">
          <uib-bar class="progress-bar" value="dynamic" max="max" type="warning"></uib-bar>
        </uib-progress>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h5>Danger progress bar</h5>
        <uib-progress class="progress-xs">
          <uib-bar class="progress-bar" value="dynamic" max="max" type="danger"></uib-bar>
        </uib-progress>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h5>Combinations</h5>
        <uib-progress class="progress-xs">
          <uib-bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"></uib-bar>
        </uib-progress>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="text-center m-b">
    <h3 class="m-b-0">Sizes</h3>
    <small>A progress bar may vary in size.</small>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h4>Installing App</h4>
        <uib-progress class="progress-xs">
          <uib-bar class="progress-bar" value="dynamic" max="max" type="success"></uib-bar>
        </uib-progress>
        <div class="m-t-n">
          <small>Installed Authentication module.</small>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h4>Installing App</h4>
        <uib-progress class="progress-sm">
          <uib-bar class="progress-bar" value="dynamic" max="max" type="success"></uib-bar>
        </uib-progress>
        <div class="m-t-n">
          <small>Installed Authentication module.</small>
        </div>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h4>Installing App</h4>
        <div class="m-b-sm">
          <small>Installed Authentication module.</small>
        </div>
        <uib-progress class="progress">
          <uib-bar class="progress-bar" value="dynamic" max="max" type="success">{{dynamic}} / {{max}}</uib-bar>
        </uib-progress>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h4>Installing App</h4>
        <div class="m-b-sm">
          <small>Installed Authentication module.</small>
        </div>
        <uib-progress class="progress-lg">
          <uib-bar class="progress-bar progress-bar-success" value="dynamic" max="max" type="type">{{dynamic}} / {{max}}</uib-bar>
        </uib-progress>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="text-center m-b">
    <h3 class="m-b-0">Animations</h3>
    <small>A progress bar can show animated level of the current progress.</small>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h4>Installing App</h4>
        <uib-progress class="progress-xs">
          <uib-bar class="progress-bar progress-bar-striped active" value="dynamic" max="max" type="primary"></uib-bar>
        </uib-progress>
        <div class="m-t-n">
          <small>Installed Authentication module.</small>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h4>Installing App</h4>
        <uib-progress class="progress-xs">
          <uib-bar class="progress-bar progress-bar-indicating active" value="dynamic" max="max" type="primary"></uib-bar>
        </uib-progress>
        <div class="m-t-n">
          <small>Installed Authentication module.</small>
        </div>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h4>Installing App</h4>
        <uib-progress class="progress">
          <uib-bar class="progress-bar progress-bar-striped active" value="dynamic" max="max" type="primary">{{dynamic}} / {{max}}</uib-bar>
        </uib-progress>
        <div class="m-t-n">
          <small>Installed Authentication module.</small>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body" match-height>
        <h4>Installing App</h4>
        <uib-progress class="progress">
          <uib-bar class="progress-bar progress-bar-indicating active" value="dynamic" max="max" type="primary">{{dynamic}} / {{max}}</uib-bar>
        </uib-progress>
        <div class="m-t-n">
          <small>Installed Authentication module.</small>
        </div>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
</div><!-- /.layout-content-body -->