<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Shopping cart</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>Do you have a promotional code? You can enter your claim code when it's time to pay.</small>
    </p>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form name="signupForm" class="signup-form" novalidate>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="steps">
              <li class="step col-xs-3" ui-sref-active="active">
                <a class="step-segment" ui-sref=".items">
                  <span class="step-icon icon icon-shopping-cart sq-48"></span>
                </a>
                <div class="step-content">
                  <strong class="hidden-xs">Shopping cart</strong>
                </div>
              </li>
              <li class="step col-xs-3" ui-sref-active="active">
                <a class="step-segment" ui-sref=".delivery">
                  <span class="step-icon icon icon-truck sq-48"></span>
                </a>
                <div class="step-content">
                  <strong class="hidden-xs">Delivery details</strong>
                </div>
              </li>
              <li class="step col-xs-3" ui-sref-active="active">
                <a class="step-segment" ui-sref=".payment">
                  <span class="step-icon icon icon-credit-card sq-48"></span>
                </a>
                <div class="step-content">
                  <strong class="hidden-xs">Payment details</strong>
                </div>
              </li>
              <li class="step col-xs-3" ui-sref-active="active">
                <a class="step-segment" ui-sref=".confirmation">
                  <span class="step-icon icon icon-check sq-48"></span>
                </a>
                <div class="step-content">
                  <strong class="hidden-xs">Confirmation</strong>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content" ui-view></div>
      </form>
    </div>
  </div><!-- /.row -->
</div><!-- /.layout-content-body -->
