<div class="signup">
  <div class="signup-body">
    <a class="signup-brand" ui-sref="dashboards.dashboard-1">
      <img class="img-responsive" src="img/logo.svg" alt="Elephant">
    </a>
    <p class="signup-heading">
      <em>Get started with a free account. 30 day free trial, unlimited users. Your card won't be charged anything before the free trial is over and you can cancel anytime.</em>
    </p>
    <div class="signup-form">
      <form name="signupForm" class="signup-form" novalidate>
        <ul class="steps">
          <li class="step col-xs-4" ui-sref-active="active">
            <a class="step-segment" ui-sref=".step-one">
              <span class="step-icon icon icon-user"></span>
            </a>
            <div class="step-content">
              <strong class="hidden-xs">Personal account</strong>
            </div>
          </li>
          <li class="step col-xs-4" ui-sref-active="active">
            <a class="step-segment" ui-sref=".step-two">
              <span class="step-icon icon icon-cubes"></span>
            </a>
            <div class="step-content">
              <strong class="hidden-xs">Choose plan</strong>
            </div>
          </li>
          <li class="step col-xs-4" ui-sref-active="active">
            <a class="step-segment" ui-sref=".step-three">
              <span class="step-icon icon icon-credit-card"></span>
            </a>
            <div class="step-content">
              <strong class="hidden-xs">Payment details</strong>
            </div>
          </li>
        </ul>
        <div ui-view></div>
      </form>
    </div>
  </div>
  <div class="signup-footer">
    <ul class="list-inline">
      <li><a class="link-muted" href="login-1.html">Log in</a></li>
      <li>|</li>
      <li><a class="link-muted" href="#">Privacy Policy</a></li>
      <li>|</li>
      <li><a class="link-muted" href="#">Terms</a></li>
      <li>|</li>
      <li><a class="link-muted" href="#">Cookie Policy</a></li>
      <li>|</li>
      <li>© Elephant 2016</li>
    </ul>
  </div>
</div>