<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Toastr</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>The CSS of <a href="http://codeseven.github.io/toastr/">Toastr</a> library is completely rewritten in SASS, without modifying however anything in JavaScript.
        <br>You can change the icons, width, distance from the corner where the message is displayed, colours, etc with the variables stated in the file <code>_variables.scss</code>.</small>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" ng-model="title" class="form-control" type="text">
      </div>
      <div class="row gutter-xs">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="type">Type</label>
            <select id="type" class="custom-select" ng-model="options.type">
              <option value="success">Success</option>
              <option value="info">Info</option>
              <option value="warning">Warning</option>
              <option value="error">Error</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" ng-model="message" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group custom-controls-stacked">
        <label class="custom-control custom-control-primary custom-checkbox" for="closeButton">
          <input id="closeButton" class="custom-control-input" type="checkbox" ng-model="options.showCloseButton" checked="checked">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Show close button</span>
        </label>
      </div>
      <div class="form-group">
        <button id="demo-show-toast" class="btn btn-primary" ng-click="showToast()" type="button">Show Toast</button>
        <button id="demo-clear-toasts" class="btn btn-default" ng-click="clearToasts()" type="button">Clear Toasts</button>
      </div>
    </div>
  </div>
</div>
<toast-container></toast-container>