<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Vector maps</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>The following examples are created using <a href="http://www.jqvmap.com/" target="_blank">JQVMap</a> plugin.</small>
    </p>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div class="row gutter-xs">
        <div class="col-md-8 col-lg-9">
          <div class="embed-responsive embed-responsive-4by3">
            <div class="embed-responsive-item">
              <div vector-map options="worldHealthStatistics" style="height: 100%; width: 100%"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <h4>World Health Statistics</h4>
          <p>Harmful use of alcohol, defined according to the national context as alcohol per capita consumption (aged 15 years and older) within a calendar year in litres of pure alcohol.</p>
          <p></p>
          <p>Projected estimated consumption (litres)</p>
          <ul class="list-unstyled">
            <li>
              <span class="icon icon-square icon-fw" style="color: #b2dfdb"></span>&lt; 2.5</li>
            <li>
              <span class="icon icon-square icon-fw" style="color: #4db6ac"></span>2.5 – 5.4</li>
            <li>
              <span class="icon icon-square icon-fw" style="color: #009688"></span>5.5 – 8.4</li>
            <li>
              <span class="icon icon-square icon-fw" style="color: #00796b"></span>8.5 – 11.9</li>
            <li>
              <span class="icon icon-square icon-fw" style="color: #004d40"></span>&gt; 12.0</li>
            <li>
              <span class="icon icon-square-o icon-fw"></span>Data not available</li>
            <li>
              <span class="icon icon-square-o icon-fw"></span>Not applicable</li>
          </ul>
          <hr>
          <p>Source: <a href="http://www.who.int/gho/publications/en/" target="_blank">World Health Organization</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div class="row gutter-xs">
        <div class="col-md-8 col-lg-9">
          <div class="embed-responsive embed-responsive-4by3">
            <div class="embed-responsive-item">
              <div vector-map options="presidentialElections" style="height: 100%; width: 100%"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <h4>Presidential Elections</h4>
          <p>The United States presidential election of 2012 was the 57th quadrennial presidential election. It was held on Tuesday, November 6, 2012.</p>
          <p>Obama defeated Romney, winning both the popular vote and the electoral college, with 332 electoral votes to Romney's 206. He became the eleventh President and third Democrat to win a majority of the popular vote more than once.</p>
          <div class="row">
            <div class="col-sm-6 col-md-12 m-y">
              <div class="media">
                <div class="media-left media-middle">
                  <img class="rounded" width="80" height="80" src="img/3353100198.jpg" alt="Barack H. Obama">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">Barack H. Obama</h4>
                  <h5 class="media-heading">Popular 65,446,032</h5>
                  <span class="media-text">
                    <span class="democratic" style="color: #2980b9">
                      <span class="icon icon-square icon-fw"></span>
                    </span>
                    Democratic
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-12 m-y">
              <div class="media">
                <div class="media-left media-middle">
                  <img class="rounded" width="80" height="80" src="img/3476962581.jpg" alt="W. Mitt Romney">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">W. Mitt Romney</h4>
                  <h5 class="media-heading">Popular 60,589,084</h5>
                  <span class="media-text">
                    <span class="republican" style="color: #e74c3c">
                      <span class="icon icon-square icon-fw"></span>
                    </span>
                    Republican
                  </span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <p>Source: <a href="https://en.wikipedia.org/wiki/United_States_presidential_election,_2012/" target="_blank">Wikipedia</a></p>
        </div>
      </div>
    </div>
  </div>
</div>