/*! Custom styles for this template */
.error-page {
  display: table;
  height: 100%;
  width: 100%;
}

.error {
  display: table-cell;
  vertical-align: middle;
}

.error-body {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
       -o-animation-name: fadeInUp;
          animation-name: fadeInUp;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  padding: 30px;
  text-align: center;
}

.error-heading {
  color: #0288d1;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 30px;
}

.error-subheading {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 30px;
  margin-top: 30px;
}

.error-footer {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
       -o-animation-name: fadeIn;
          animation-name: fadeIn;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  text-align: center;
}
