<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Badges</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>The badge component that is part of Bootstrap is expanded with several variants and some additional classes.</small>
    </p>
  </div><!-- /.title-bar -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Default badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-default</code></small></p>
        <span class="badge badge-default">4</span>
        <span class="badge badge-default">8</span>
        <span class="badge badge-default">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Primary badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-primary</code></small></p>
        <span class="badge badge-primary">4</span>
        <span class="badge badge-primary">8</span>
        <span class="badge badge-primary">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Success badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-success</code></small></p>
        <span class="badge badge-success">4</span>
        <span class="badge badge-success">8</span>
        <span class="badge badge-success">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Info badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-info</code></small></p>
        <span class="badge badge-info">4</span>
        <span class="badge badge-info">8</span>
        <span class="badge badge-info">16</span>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Warning badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-warning</code></small></p>
        <span class="badge badge-warning">4</span>
        <span class="badge badge-warning">8</span>
        <span class="badge badge-warning">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Danger badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-danger</code></small></p>
        <span class="badge badge-danger">4</span>
        <span class="badge badge-danger">8</span>
        <span class="badge badge-danger">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Danger outline badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-outline-danger</code></small></p>
        <span class="badge badge-outline-danger">4</span>
        <span class="badge badge-outline-danger">8</span>
        <span class="badge badge-outline-danger">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Warning outline badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-outline-warning</code></small></p>
        <span class="badge badge-outline-warning">4</span>
        <span class="badge badge-outline-warning">8</span>
        <span class="badge badge-outline-warning">16</span>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Info outline badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-outline-info</code></small></p>
        <span class="badge badge-outline-info">4</span>
        <span class="badge badge-outline-info">8</span>
        <span class="badge badge-outline-info">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Success outline badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-outline-success</code></small></p>
        <span class="badge badge-outline-success">4</span>
        <span class="badge badge-outline-success">8</span>
        <span class="badge badge-outline-success">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Primary outline badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-outline-primary</code></small></p>
        <span class="badge badge-outline-primary">4</span>
        <span class="badge badge-outline-primary">8</span>
        <span class="badge badge-outline-primary">16</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Default outline badge</h5>
        <p><small class="text-muted">Simply use class <code>badge-outline-default</code></small></p>
        <span class="badge badge-outline-default">4</span>
        <span class="badge badge-outline-default">8</span>
        <span class="badge badge-outline-default">16</span>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body text-center" match-height>
        <h5>Badge as a link</h5>
        <p><small class="text-muted">Badges with hover state, but only for links</small></p>
        <a class="badge badge-default" href="#">4</a>
        <a class="badge badge-primary" href="#">8</a>
        <a class="badge badge-success" href="#">16</a>
        <a class="badge badge-info" href="#">32</a>
        <a class="badge badge-warning" href="#">64</a>
        <a class="badge badge-danger" href="#">128</a>
        <a class="badge badge-outline-danger" href="#">128</a>
        <a class="badge badge-outline-warning" href="#">64</a>
        <a class="badge badge-outline-info" href="#">32</a>
        <a class="badge badge-outline-success" href="#">16</a>
        <a class="badge badge-outline-primary" href="#">8</a>
        <a class="badge badge-outline-default" href="#">4</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body text-center" match-height>
        <div class="fh">
          <div class="fh-m p-y-md">
            <small class="text-muted">Font size, paddings, colors, can be changed through variables.</small>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="text-center m-b">
    <h3 class="m-b-0">Badge with others</h3>
    <small>The following examples are some cases but not the only ones on how this component can be composed with others.</small>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>List group</h5>
        <p><small class="text-muted">Simply use class <code>badge-{modifier}</code></small></p>
        <ul class="list-group text-left">
          <li class="list-group-item">
            <span class="badge badge-primary">16</span>
            Messages
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Buttons</h5>
        <p><small class="text-muted">Simply use class <code>badge-{modifier}</code></small></p>
        <button class="btn btn-primary" type="button">
          Messages
          <span class="badge">4</span>
        </button>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Outline buttons</h5>
        <p><small class="text-muted">Simply use class <code>badge-{modifier}</code></small></p>
        <button class="btn btn-outline-primary" type="button">
          Messages
          <span class="badge">4</span>
        </button>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Links</h5>
        <p><small class="text-muted">Simply use class <code>badge-{modifier}</code></small></p>
        <a href="#">Inbox
          <span class="badge badge-primary">16</span>
        </a>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Badge with arrow</h5>
        <p><small class="text-muted">With arrows of all sizes</small></p>
        <span class="badge arrow-up arrow-success arrow-sm">small</span>
        <span class="badge arrow-up arrow-success">default</span>
        <span class="badge arrow-up arrow-success arrow-lg">large</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Outline badge with arrow</h5>
        <p><small class="text-muted">With arrows of all sizes</small></p>
        <span class="badge arrow-down arrow-outline-info arrow-sm">small</span>
        <span class="badge arrow-down arrow-outline-info">default</span>
        <span class="badge arrow-down arrow-outline-info arrow-lg">large</span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Badge with arrow</h5>
        <p><small class="text-muted">Badge with hover state</small></p>
        <a class="badge arrow-up arrow-warning" href="#">32 messages</a>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Outline badge with arrow</h5>
        <p><small class="text-muted">Badge with hover state</small></p>
        <a class="badge arrow-up arrow-outline-success" href="#">32 messages</a>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Above another element</h5>
        <p><small class="text-muted">Simply use class <code>badge-above</code></small></p>
        <span class="icon-with-child">
          <span class="icon icon-bell-o icon-lg"></span>
          <span class="badge badge-danger badge-above">8</span>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Above another element</h5>
        <p><small class="text-muted">Simply use class <code>right</code></small></p>
        <span class="icon-with-child">
          <span class="icon icon-bell-o icon-lg"></span>
          <span class="badge badge-danger badge-above right">8</span>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Above another element</h5>
        <p><small class="text-muted">Simply use class <code>badge-above</code></small></p>
        <span class="icon-with-child">
          <span class="icon icon-bell-o icon-lg"></span>
          <span class="badge badge-danger badge-above">128</span>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Above another element</h5>
        <p><small class="text-muted">Simply use class <code>right</code></small></p>
        <span class="icon-with-child">
          <span class="icon icon-bell-o icon-lg"></span>
          <span class="badge badge-danger badge-above right">128</span>
        </span>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
  <div id="demo-badges" class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center ov-h" match-height>
        <h5>Badge with animate.css</h5>
        <p><small class="text-muted">When you scroll to the bottom of this page.</small></p>
        <span class="icon-with-child">
          <span class="icon icon-bell-o icon-lg"></span>
          <span class="badge badge-danger badge-above">64</span>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center ov-h" match-height>
        <h5>Badge with animate.css</h5>
        <p><small class="text-muted">When you scroll to the bottom of this page.</small></p>
        <span class="icon-with-child">
          <span class="icon icon-bell-o icon-lg"></span>
          <span class="badge badge-danger badge-above right">64</span>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body text-center" match-height>
        <div class="fh">
          <div class="fh-m p-y-lg">
            <small class="text-muted">Any badge element can be positioned above another element for one quadrant.<br><em>quadrant - equal to one quarter of a circle</em></small>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row .gutter-xs -->
</div><!-- /.layout-content-body -->