<div class="confirmation">
  <div class="confirmation-icon">
    <div class="icon icon-check icon-5x"></div>
  </div>
  <div class="confirmation-content">
    <h3>Congratulations! Your Order is accepted.</h3>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>
          <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, sapiente magnam explicabo voluptatibus aut reprehenderit eius inventore dolore. Itaque nisi ullam, nulla quibusdam officiis sequi at eum, architecto qui numquam.</small>
        </p>
        <button class="btn btn-default m-y">Track Order</button>
      </div>
    </div>
  </div>
</div>