<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">DataTables</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>The tables presented below use <a href="https://datatables.net/" target="_blank">DataTables</a> plugin, the styling of which is completely rewritten in SASS, without modifying however anything in JavaScript.</small>
    </p>
  </div><!-- /.title-bar -->
  <div class="row gutter-xs">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions">
            <button type="button" class="card-action card-toggler" title="Collapse"></button>
            <button type="button" class="card-action card-reload" title="Reload"></button>
            <button type="button" class="card-action card-remove" title="Remove"></button>
          </div>
          <strong>Basic Table (+Bootstrap Responsive Table)</strong>
        </div>
        <div class="card-body">
          <table datatable class="table table-hover table-striped table-nowrap dataTable" dt-columns="dt.columns" dt-options="dt.options" cellspacing="0" width="100%">
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center m-b">
    <h3 class="m-b-0">Bordered Table</h3>
    <small>With borders on all sides of the table and cells.</small>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions">
            <button type="button" class="card-action card-toggler" title="Collapse"></button>
            <button type="button" class="card-action card-reload" title="Reload"></button>
            <button type="button" class="card-action card-remove" title="Remove"></button>
          </div>
          <strong>Basic Table (+Bootstrap Responsive Table)</strong>
        </div>
        <div class="card-body">
          <table datatable class="table table-bordered table-striped table-nowrap dataTable" dt-columns="dt.columns" dt-options="dt.options" cellspacing="0" width="100%">
          </table>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.layout-content-body -->