<div class="layout-content-body">
  <div class="panel">
    <div class="panel-body p-a-lg">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-right">
            Invoice
          </h1>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-6">
          <img width="184" height="40" src="img/logo.svg" alt="Elephant">
          <div class="p-a">
            2366 Noriega St<br>
            San Francisco, CA 94133<br>
            United States of America<br>
            +1 415-666-9999
          </div>
        </div>
        <div class="col-sm-6">
          Billed To:
          <div class="p-a">
            <strong>Teddy Wilson</strong><br>
            726 Broadway<br>
            New York, NY 10007<br>
            United States of America<br>
            +1 212-998-1111
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-push-0">
          <div class="p-a">
            Invoice ID:<br>
            87703547
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-sm-push-6">
          <div class="p-a">
            Customer ID:<br>
            56978166
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-sm-pull-3">
          <div class="p-a">
            Due Date:<br>
            2016-06-24
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-sm-pull-3">
          <div class="p-a">
            Date Paid:<br>
            2016-06-24
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Item #</th>
                  <th>Description</th>
                  <th>Qty</th>
                  <th>Unit price</th>
                  <th>Discount</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>292482</td>
                  <td>13-inch MacBook Pro with Retina display</td>
                  <td>1</td>
                  <td>$1,799.00</td>
                  <td>$0.00</td>
                  <td>$1,799.00</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>438341</td>
                  <td>Apple Thunderbolt Display (27-inch)</td>
                  <td>1</td>
                  <td>$999.00</td>
                  <td>$0.00</td>
                  <td>$999.00</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>380556</td>
                  <td>AirPort Time Capsule - 3TB</td>
                  <td>1</td>
                  <td>$399.00</td>
                  <td>$0.00</td>
                  <td>$399.00</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>119584</td>
                  <td>HP ENVY 7640 e-All-in-One Printer</td>
                  <td>1</td>
                  <td>$299.95</td>
                  <td>$100.00</td>
                  <td>$199.95</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>474474</td>
                  <td>Mini DisplayPort to Dual-Link DVI Adapter</td>
                  <td>1</td>
                  <td>$99.00</td>
                  <td>$0.00</td>
                  <td>$99.00</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>321688</td>
                  <td>Thunderbolt to Gigabit Ethernet Adapter</td>
                  <td>1</td>
                  <td>$29.00</td>
                  <td>$0.00</td>
                  <td>$29.00</td>
                </tr>
                <tr>
                  <th scope="row" colspan="6">
                    <div class="text-right">
                      Invoice Subtotal<br>
                      Tax Rate<br>
                      Sales Tax<br>
                      Shipping<br>
                      Deposit Received<br>
                      TOTAL
                    </div>
                  </th>
                  <td>
                    $3,524.95<br>
                    8,9%<br>
                    $313.72<br>
                    $89.00<br>
                    -<br>
                    <strong>$3,927.67</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-8">
          <p><small><em>Thanks for choosing Elephant.Store! If you have any questions about your order, don't hesitate to contact our support team at support@elephant.store, or give us a call at 1 415-666-9999, Monday through Friday, 8 a.m. to 6 p.m.</em></small></p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center hidden-print">
            <div class="p-y-lg">
              <a class="btn btn-success btn-sm" href="javascript:window.print()">
                <span class="icon icon-print icon-lg icon-fw"></span>
                Print
              </a>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div>
</div><!-- /.layout-content-body -->