<h4>Your shopping cart - 3 items</h4>
<div class="cart">
  <ul class="cart-list">
    <li class="cart-list-item">
      <div class="cart-list-image">
        <a href="product.html">
          <img class="cart-list-thumbnail" src="img/5615854990.jpg" alt="Raja Elephant T-shirt">
        </a>
      </div>
      <div class="cart-list-details">
        <h4 class="cart-list-name">
          <a href="product.html">Raja Elephant T-shirt Women's S-XL #4398</a>
        </h4>
        <p class="cart-list-description">
          <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quo nulla ad id natus ratione, voluptatum, perspiciatis consequuntur, ea aliquid rem.</small>
        </p>
        <div class="cart-list-actions">
          <ul class="list-inline">
            <li><a href="#">Delete</a></li>
            <li>
              <span aria-hidden="true">|</span>
            </li>
            <li>
              <label class="custom-control custom-control-primary custom-checkbox">
                <input class="custom-control-input" type="checkbox">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-label">This is a gift</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="cart-list-price">
        <ul class="list-inline">
          <li>
            <del>$46.00</del>
          </li>
          <li>
            <strong>$33.00</strong>
          </li>
        </ul>
      </div>
      <div class="cart-list-quantity">
        <input class="form-control" type="text" value="1">
      </div>
      <div class="cart-list-subtotal">$33.00</div>
    </li>
    <li class="cart-list-item">
      <div class="cart-list-image">
        <a href="product.html">
          <img class="cart-list-thumbnail" src="img/5991713086.jpg" alt="Maliha Elephant T-shirt">
        </a>
      </div>
      <div class="cart-list-details">
        <h4 class="cart-list-name">
          <a href="product.html">Maliha Elephant T-shirt Women's S-XL #4909</a>
        </h4>
        <p class="cart-list-description">
          <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quo nulla ad id natus ratione, voluptatum, perspiciatis consequuntur, ea aliquid rem.</small>
        </p>
        <div class="cart-list-actions">
          <ul class="list-inline">
            <li><a href="#">Delete</a></li>
            <li>
              <span aria-hidden="true">|</span>
            </li>
            <li>
              <label class="custom-control custom-control-primary custom-checkbox">
                <input class="custom-control-input" type="checkbox">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-label">This is a gift</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="cart-list-price">
        <ul class="list-inline">
          <li>
            <del>$44.00</del>
          </li>
          <li>
            <strong>$36.00</strong>
          </li>
        </ul>
      </div>
      <div class="cart-list-quantity">
        <input class="form-control" type="text" value="1">
      </div>
      <div class="cart-list-subtotal">$36.00</div>
    </li>
    <li class="cart-list-item">
      <div class="cart-list-image">
        <a href="product.html">
          <img class="cart-list-thumbnail" src="img/6149937996.jpg" alt="Jade Elephant T-shirt">
        </a>
      </div>
      <div class="cart-list-details">
        <h4 class="cart-list-name">
          <a href="product.html">Jade Elephant T-shirt Women's S-XL #5019</a>
        </h4>
        <p class="cart-list-description">
          <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quo nulla ad id natus ratione, voluptatum, perspiciatis consequuntur, ea aliquid rem.</small>
        </p>
        <div class="cart-list-actions">
          <ul class="list-inline">
            <li><a href="#">Delete</a></li>
            <li>
              <span aria-hidden="true">|</span>
            </li>
            <li>
              <label class="custom-control custom-control-primary custom-checkbox">
                <input class="custom-control-input" type="checkbox">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-label">This is a gift</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="cart-list-price">
        <ul class="list-inline">
          <li>
            <del>$36.00</del>
          </li>
          <li>
            <strong>$33.00</strong>
          </li>
        </ul>
      </div>
      <div class="cart-list-quantity">
        <input class="form-control" type="text" value="1">
      </div>
      <div class="cart-list-subtotal">$33.00</div>
    </li>
  </ul>
  <div class="cart-subtotal">
    Subtotal (3 items):
    <span class="cart-subtotal-amount">$102.00</span>
  </div>
  <div class="cart-actions">
    <button class="btn btn-default" type="submit">Continue shopping</button>
    <button class="btn btn-primary" type="submit">Proceed to checkout</button>
  </div>
</div>