<div class="login">
  <div class="login-body">
    <a class="login-brand" ui-sref="dashboards.dashboard-1">
      <img class="img-responsive" src="img/logo.svg" alt="Elephant">
    </a>
    <h3 class="login-heading">Sign in</h3>
    <div class="login-form">
      <form name="loginForm" class="login-form" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input ng-model="username" id="username" class="form-control" type="text" name="username" spellcheck="false" autocomplete="off" required>
          <div ng-show="loginForm.$submitted || loginForm.username.$touched">
            <small ng-show="loginForm.username.$error.required" class="has-error help-block">Please enter your username.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input ng-model="password" id="password" class="form-control" type="password" name="password" minlength="6" required>
          <div ng-show="loginForm.$submitted || loginForm.password.$touched">
            <small ng-show="loginForm.password.$error.required" class="has-error help-block">Please enter your password.</small>
            <small ng-show="loginForm.password.$error.minlength" class="has-error help-block">Password must be 6 characters or more.</small>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        </div>
        <div class="form-group">
          <ul class="list-inline">
            <li>
              <label class="custom-control custom-control-primary custom-checkbox">
                <input class="custom-control-input" type="checkbox">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-label">Keep me signed in</span>
              </label>
            </li>
          </ul>
          <ul class="list-inline">
            <li><a ui-sref="password-1">Forgot username?</a></li>
            <li>
              <span aria-hidden="true"> · </span>
            </li>
            <li><a ui-sref="password-1">Forgot password?</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <div class="login-footer">
    <ul class="list-inline">
      <li><a class="link-muted" ui-sref="signup-1">Sign up</a></li>
      <li>|</li>
      <li><a class="link-muted" href="#">Privacy Policy</a></li>
      <li>|</li>
      <li><a class="link-muted" href="#">Terms</a></li>
      <li>|</li>
      <li><a class="link-muted" href="#">Cookie Policy</a></li>
      <li>|</li>
      <li>© Elephant 2016</li>
    </ul>
  </div>
</div>
