<div class="mail">
  <div ng-class="{active: sidebar.isActive}" class="mail-sidebar active">
    <div class="mail-sidebar-header">
      <div class="title-bar">
        <div class="title-bar-actions">
          <div class="btn-group">
            <div class="btn-group btn-group-sm dropdown">
              <button class="mail-sort-btn btn btn-default dropdown-toggle" aria-haspopup="true" data-toggle="dropdown" type="button">
                Sort by date
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Sort by Date</a></li>
                <li><a href="#">Sort by Sender</a></li>
                <li><a href="#">Sort by Subject</a></li>
                <li><a href="#">Unread Messages</a></li>
                <li><a href="#">Attachments</a></li>
                <li><a href="#">Starred</a></li>
                <li class="divider"></li>
                <li><a href="#">More settings...</a></li>
              </ul>
            </div>
          </div>
        </div>
        <h1 class="title-bar-title">
          <span class="d-ib">Inbox</span>
          <span class="d-ib">
            <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
              <span class="sr-only">Add to shortcut list</span>
            </a>
          </span>
        </h1>
      </div>
      <form class="search" action="/">
        <div class="form-group form-group-sm">
          <div class="input-with-icon">
            <input class="form-control" type="text" placeholder="Search mail and people&hellip;">
            <span class="icon icon-search input-icon"></span>
          </div>
        </div>
      </form>
    </div>
    <div class="mail-sidebar-body">
      <div class="custom-scrollbar" custom-scrollbar>
        <div class="mail-list">
          <div class="mail-list-item" ng-repeat="mail in mails">
            <a class="mail-list-link" ng-click="show(mail)" ng-class="{active: mail.isActive}">
              <div class="mail-list-meta">
                <div ng-show="mail.files.length" class="mail-list-attachments">
                  <span class="icon icon-paperclip icon-fw"></span>
                </div>
                <div class="mail-list-date">{{ mail.timestamp | date:'mediumTime' }}</div>
              </div>
              <div class="mail-list-name">{{ mail.name}}</div>
              <div class="mail-list-content">
                <span class="mail-list-subject">{{ mail.subject}}</span>
                <span class="mail-list-message">{{ mail.message}}</span>
              </div>
            </a>                
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-class="{active:!sidebar.isActive}" class="mail-content">
    <div ng-show="currentMail" class="mail-content-header">
      <div class="mail-toolbar">
        <div class="mail-toolbar-tools pull-xs-left">
          <div class="btn-group hidden-md hidden-lg">
            <button class="btn btn-link link-muted" ng-click="setSidebarActive()" type="button">
              <span class="icon icon-caret-left icon-lg icon-fw"></span>
              Inbox
            </button>
          </div>
        </div>
        <div class="mail-toolbar-tools pull-sm-left">
          <div class="btn-group">
            <button class="btn btn-link link-muted" title="Reply to sender" data-container="body" data-trigger="hover" data-placement="bottom" data-toggle="tooltip" type="button">
              <span class="icon icon-reply icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted hidden-xs" title="Reply to all" data-container="body" data-trigger="hover" data-placement="bottom" data-toggle="tooltip" type="button">
              <span class="icon icon-reply-all icon-lg"></span>
            </button>
            <button class="btn btn-link link-muted hidden-xs" title="Forward" data-container="body" data-trigger="hover" data-placement="bottom" data-toggle="tooltip" type="button">
              <span class="icon icon-arrow-right icon-lg"></span>
            </button>
            <div class="btn-group dropdown">
              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                <span class="icon icon-folder-open icon-lg icon-fw"></span>
                <span class="visible-lg-inline">Move</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Archive</a></li>
                <li><a href="#">Spam</a></li>
                <li><a href="#">Trash</a></li>
                <li class="divider"></li>
                <li><a href="#">Create folder</a></li>
              </ul>
            </div>
            <button class="btn btn-link link-muted" type="button">
              <span class="icon icon-trash icon-lg icon-fw"></span>
              <span class="visible-lg-inline">Delete</span>
            </button>
            <button class="btn btn-link link-muted hidden-xs" type="button">
              <span class="icon icon-rocket icon-lg icon-fw"></span>
              <span class="visible-lg-inline">Spam</span>
            </button>
            <div class="btn-group dropdown">
              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                <span class="visible-lg-inline">More</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Mark as unread</a></li>
                <li><a href="#">Mark as read</a></li>
                <li><a href="#">Flag</a></li>
                <li><a href="#">Unflag</a></li>
                <li class="divider"></li>
                <li><a href="#">Print</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="currentMail" class="mail-content-body">
      <h1 class="mail-heading">{{ currentMail.subject}}</h1>
      <div class="mail-sender">
        <div class="mail-sender-avatar">
          <img class="rounded" width="40" height="40" src="{{ currentMail.photo}}" alt="{{ currentMail.name}}">
        </div>
        <div class="mail-sender-details">
          <h5 class="mail-sender-name">
            {{ currentMail.name}}
            <span aria-hidden="true">&lt;</span>{{ currentMail.email}}
            <span aria-hidden="true">&gt;</span>
          </h5>
          <small class="mail-sender-date">
            <span class="truncate">{{ currentMail.timestamp | date:'medium' }}</span>
          </small>
        </div>
      </div>
      <p>{{ currentMail.message}}</p>
      <div ng-if="currentMail.files.length">
        <span class="icon icon-paperclip"></span> {{ currentMail.files.length}} attachments - <a href="#">Download all</a></p>
        <ul class="file-list">
          <li ng-repeat="file in currentMail.files" class="file">
            <a class="file-link" href="#" title="{{ file.fileName}}{{ file.fileExt}}">
              <div class="file-thumbnail file-thumbnail-{{ file.fileExt}}"></div>
              <div class="file-info">
                <span class="file-ext">{{ file.fileExt}}</span>
                <span class="file-name">{{ file.fileName}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div ng-hide="currentMail" class="mail-settings-body">
      <div class="mail-settings-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <span class="icon icon-hdd-o icon-3x icon-fw"></span>
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Mailbox Storage</h3>
                  <p class="media-description">
                    <small>1.35 GB (9%) of 15 GB used. (Current plan: 15 GB FREE!)</small>
                  </p>
                  <p class="media-action"><a class="btn btn-default btn-sm" href="#">Upgrade your account</a></p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <span class="icon icon-history icon-3x icon-fw"></span>
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Activity Log</h3>
                  <p class="media-description">
                    <small>Provides information about the last activity on this account.</small>
                  </p>
                  <p class="media-action"><a class="btn btn-default btn-sm" href="#">Activity Log</a></p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <span class="icon icon-refresh icon-3x icon-fw"></span>
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Sync Mail</h3>
                  <p class="media-description">
                    <small>Sync mail with your Apple or Android device.</small>
                  </p>
                  <p class="media-action"><a class="btn btn-default btn-sm" href="#">Sync mail</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>