<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Material form validation</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>Form and controls provide validation services, so that the user can be notified of invalid input before submitting a form. This provides a better user experience than server-side validation alone because the user gets instant feedback on how to correct the error.</small>
    </p>
  </div><!-- /.title-bar -->
  <div class="row p-y-lg">
    <div class="col-md-6 col-md-offset-3">
      <form role="form" name="form_validation" novalidate ng-submit="formValidation()">
        <div class="md-form-group md-label-floating" ng-class="{ 'has-error': form_validation.name.$invalid && form_validation.submitted }">
          <input class="md-form-control" type="text" name="name" spellcheck="false" ng-model="name" required>
          <label class="md-control-label">Name</label>
          <small class="md-help-block">Displayed on your profile and in other places as your name.</small>
        </div>
        <div class="md-form-group md-label-floating" ng-class="{ 'has-error': form_validation.email.$invalid && form_validation.submitted }">
          <input class="md-form-control" type="email" name="email" spellcheck="false" autocomplete="off" ng-model="email" required>
          <label class="md-control-label">Email</label>
          <small class="md-help-block">Available publicly, but not shown on your profile.</small>
        </div>
        <div class="md-form-group md-label-floating" ng-class="{ 'has-error': form_validation.biography.$invalid && form_validation.submitted }">
          <textarea class="md-form-control" rows="3" name="biography" spellcheck="false" ng-model="biography" required></textarea>
          <label class="md-control-label">About You</label>
          <small class="md-help-block">Write some details about yourself to fill out your profile.</small>
        </div>
        <div class="md-form-group custom-controls-stacked" ng-class="{ 'has-error': form_validation.tagging.$invalid && form_validation.submitted }">
          <label class="custom-control custom-control-primary custom-radio">
            <input class="custom-control-input" type="radio" value="all" name="tagging" ng-model="tagging" required>
            <span class="custom-control-indicator"></span>
            <small class="custom-control-label">Allow anyone to tag you</small>
          </label>
          <label class="custom-control custom-control-primary custom-radio">
            <input class="custom-control-input" type="radio" value="following" name="tagging" ng-model="tagging" required>
            <span class="custom-control-indicator"></span>
            <small class="custom-control-label">Only allow people I follow to tag you</small>
          </label>
          <label class="custom-control custom-control-primary custom-radio">
            <input class="custom-control-input" type="radio" value="none" name="tagging" ng-model="tagging" required>
            <span class="custom-control-indicator"></span>
            <small class="custom-control-label">Do not allow anyone to tag you</small>
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
      </form>
    </div>
  </div><!-- /.row -->
</div><!-- /.layout-content-body -->