<div class="login">
  <div class="login-body">
    <a class="login-brand" ui-sref="dashboards.dashboard-1">
      <img class="img-responsive" src="img/logo.svg" alt="Elephant">
    </a>
    <div class="login-form">
      <form name="resetForm" class="login-form" novalidate>
        <div class="md-form-group md-label-floating">
          <input ng-model="email" class="md-form-control" type="email" name="email" spellcheck="false" autocomplete="off" required>
          <label class="md-control-label">Email</label>
          <div ng-hide="resetForm.$submitted || resetForm.email.$touched" class="md-help-block">
            <small>We'll send you an email to reset your password.</small>
          </div>
          <div ng-show="resetForm.$submitted || resetForm.email.$touched">
            <small ng-show="resetForm.email.$error.required" class="has-error md-help-block">Please enter your email address.</small>
          </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Send password reset email</button>
      </form>
    </div>
  </div>
  <div class="login-footer">
    Don't have an account? <a ui-sref="signup-3">Sign Up</a>
  </div>
</div>