<div class="payment">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-sm-12">
          <div class="payment-card">
            <p><small><strong>FREE</strong> Economy Shipping from UK to worldwide (10 to 35 business days)</small></p>
            <table class="table">
              <tbody>
                <tr>
                  <td class="col-xs-9">Subtotal</td>
                  <td class="col-xs-3">$102.00</td>
                </tr>
                <tr>
                  <td class="col-xs-9">Shipping</td>
                  <td class="col-xs-3">
                    <span class="nowrap">Free Shipping</span>
                  </td>
                </tr>
                <tr>
                  <td class="col-xs-9">Total</td>
                  <td class="col-xs-3">
                    <span class="payment-total-amount">$102.00</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="card-type" class="form-label">Card type</label>
            <select id="card-type" class="custom-select" name="card_type">
              <option value="" selected="selected">Select a card</option>
              <option value="v">Visa</option>
              <option value="m">MasterCard</option>
              <option value="a">American Express</option>
              <option value="d">Discover</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="card-number" class="form-label">Card number</label>
            <input id="card-number" class="form-control" type="text" name="card_number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label for="expdate-month" class="form-label">Expiration date</label>
          <div class="row gutter-xs">
            <div class="col-xs-6">
              <div class="form-group">
                <select id="expdate-month" class="custom-select" name="expdate_month">
                  <option value="" selected="selected">Month</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <select id="expdate-year" class="custom-select" name="expdate_year">
                  <option value="" selected="selected">Year</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                  <option value="2032">2032</option>
                  <option value="2033">2033</option>
                  <option value="2034">2034</option>
                  <option value="2035">2035</option>
                  <option value="2036">2036</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="cvv2-number" class="form-label">Card Security Code</label>
                <input id="cvv2-number" class="form-control" type="text" name="cvv2_number">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="promotional-code" class="control-label">Promotional code</label>
            <input id="promotional-code" class="form-control" type="text" name="promotional_code">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  </div>
</div>