<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Peity Charts</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>Small inline charts presented below are created using jQuery <a href="http://benpickles.github.io/peity" target="_blank">Peity</a> plugin. You can use this plugin by writing <code>HTML</code> only.</small>
    </p>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row gutter-xs">
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-borderless table-middle m-b-0">
                  <thead>
                    <tr class="active">
                      <th class="text-center">Chart</th>
                      <th class="text-left">HTML</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center"><pie-chart data='[1, 4]' options='{"fill": ["#0288d1", "#ddd"]}'></pie-chart></td>
                  <td class="text-left"><code>&lt;pie-chart data='[1, 4]'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[226, 134]' options='{"fill": ["#0288d1", "#ddd"]}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[226, 134]'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[0.52, 1.041]' options='{"fill": ["#0288d1", "#ddd"]}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[0.52, 1.041]'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[5, 5]' options='{"fill": ["#0288d1", "#ddd"]}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[5, 5]'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[300,300]' options='{"fill": ["#0288d1", "#ddd"]}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[300,300]'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[450,150]' options='{"fill": ["#0288d1", "#ddd"]}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[450,150]'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[0.52,1.041]' options='{"fill": ["#0288d1", "#ddd"], "innerRadius": 5}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[0.52,1.041]' options='{&quot;innerRadius&quot;: 5}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[226,134]' options='{"fill": ["#0288d1", "#ddd"], "innerRadius": 5}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[226,134]' options='{&quot;innerRadius&quot;: 5}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[0.52,1.041]' options='{"fill": ["#0288d1", "#ddd"], "innerRadius": 5}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[0.52,1.041]' options='{&quot;innerRadius&quot;: 5}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[1,4]' options='{"fill": ["#0288d1", "#ddd"], "innerRadius": 5}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[1,4]' options='{&quot;innerRadius&quot;: 5}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[226,134]' options='{"fill": ["#0288d1", "#ddd"], "innerRadius": 5}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[226,134]' options='{&quot;innerRadius&quot;: 5}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[0.52,1.041]' options='{"fill": ["#0288d1", "#ddd"], "innerRadius": 5}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[0.52,1.041]' options='{&quot;innerRadius&quot;: 5}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <line-chart data='[5,3,9,6,5,9,7,3,5,2]' options='{"fill": "#0288d1", "stroke": "#0288d1"}'></line-chart>
                  </td>
                  <td class="text-left"><code>&lt;line-chart data='[5,3,9,6,5,9,7,3,5,2]' options='{&quot;stroke&quot;: #0288d1}'&gt;&lt;/line-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <line-chart data='[5,3,2,-1,-3,-2,2,3,5,2]' options='{"fill": "#0288d1", "stroke": "#0288d1"}'></line-chart>
                  </td>
                  <td class="text-left"><code>&lt;line-chart data='[5,3,2,-1,-3,-2,2,3,5,2]' options='{&quot;stroke&quot;: #0288d1}'&gt;&lt;/line-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <line-chart data='[0,-3,-6,-4,-5,-4,-7,-3,-5,-2]' options='{"fill": "#0288d1", "stroke": "#0288d1"}'></line-chart>
                  </td>
                  <td class="text-left"><code>&lt;line-chart data='[0,-3,-6,-4,-5,-4,-7,-3,-5,-2]' options='{&quot;stroke&quot;: #0288d1}'&gt;&lt;/line-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <bar-chart data='[5,3,9,6,5,9,7,3,5,2]' options='{"fill": ["#0288d1"]}'></bar-chart>
                  </td>
                  <td class="text-left"><code>&lt;bar-chart data='[5,3,9,6,5,9,7,3,5,2]' options='{&quot;fill&quot;: #0288d1}'&gt;&lt;/bar-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <bar-chart data='[5,3,2,-1,-3,-2,2,3,5,2]' options='{"fill": ["#0288d1"]}'></bar-chart>
                  </td>
                  <td class="text-left"><code>&lt;bar-chart data='[5,3,2,-1,-3,-2,2,3,5,2]' options='{&quot;fill&quot;: #0288d1}'&gt;&lt;/bar-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <bar-chart data='[0,-3,-6,-4,-5,-4,-7,-3,-5,-2]' options='{"fill": ["#0288d1"]}'></bar-chart>
                  </td>
                  <td class="text-left"><code>&lt;bar-chart data='[0,-3,-6,-4,-5,-4,-7,-3,-5,-2]' options='{&quot;fill&quot;: #0288d1}'&gt;&lt;/bar-chart&gt;</code></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              <div class="table-responsive m-b-0">
                <table class="table table-borderless table-middle m-b-0">
                  <thead>
                    <tr class="active">
                      <th class="text-center">Chart</th>
                      <th class="text-left">HTML</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                  <pie-chart data='[2, 1]' options='{"fill": ["green", "#eee"]}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[2, 1]' options='{&quot;fill&quot;: [&quot;green&quot;, &quot;#eee&quot;]}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[2, 1]' options='{"fill": ["orange", "#eee"], "radius": 12}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[2, 1]' options='{&quot;fill&quot;: [&quot;orange&quot;, &quot;#eee&quot;], &quot;radius&quot;: 12}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[2, 1]' options='{"fill": ["violet", "#eee"], "height": 24, "width": 24}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[2, 1]' options='{&quot;fill&quot;: [&quot;violet&quot;, &quot;#eee&quot;], &quot;height&quot;: 24, &quot;width&quot;: 24}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[479,481,444]' options='{"fill": ["green", "orange", "violet"], "height": 24, "width": 24}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[479,481,444]' options='{&quot;fill&quot;: [&quot;green&quot;, &quot;orange&quot;, &quot;violet&quot;], &quot;height&quot;: 24, &quot;width&quot;: 24}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[2,1]' options='{"fill": ["green", "#eee"], "height": 24, "width": 24, "innerRadius": 5}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[2,1]' options='{&quot;fill&quot;: [&quot;green&quot;, &quot;#eee&quot;], &quot;height&quot;: 24, &quot;width&quot;: 24, &quot;innerRadius&quot;: 5}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[2,1]' options='{"fill": ["orange", "#eee"], "radius": 12, "innerRadius": 8}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[2,1]' options='{&quot;fill&quot;: [&quot;orange&quot;, &quot;#eee&quot;], &quot;radius&quot;: 12, &quot;innerRadius&quot;: 8}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[2,1]' options='{"fill": ["violet", "#eee"], "radius": 12, "innerRadius": 10}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[2,1]' options='{&quot;fill&quot;: [&quot;violet&quot;, &quot;#eee&quot;], &quot;radius&quot;: 12, &quot;innerRadius&quot;: 10}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <pie-chart data='[479,481,444]' options='{"fill": ["green", "orange", "violet"], "height": 24, "width": 24}'></pie-chart>
                  </td>
                  <td class="text-left"><code>&lt;pie-chart data='[479,481,444]' options='{&quot;fill&quot;: [&quot;green&quot;, &quot;orange&quot;, &quot;violet&quot;], &quot;height&quot;: 24, &quot;width&quot;: 24}'&gt;&lt;/pie-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <line-chart data='[5,3,9,6,5,9,7,3,5,2]' options='{"fill": "#c6d9fd", "stroke": "#4d89f9"}'></line-chart>
                  </td>
                  <td class="text-left"><code>&lt;line-chart data='[5,3,9,6,5,9,7,3,5,2]' options='{&quot;fill&quot;: &quot;#c6d9fd&quot;, &quot;stroke&quot;: &quot;#4d89f9&quot;}'&gt;&lt;/line-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <line-chart data='[5,3,2,-1,-3,-2,2,3,5,2]' options='{"fill": "rgba(0,128,0,0.25)", "stroke": "rgb(0,128,0)"}'></line-chart>
                  </td>
                  <td class="text-left"><code>&lt;line-chart data='[5,3,2,-1,-3,-2,2,3,5,2]' options='{&quot;fill&quot;: &quot;rgba(0,128,0,0.25)&quot;, &quot;stroke&quot;: &quot;rgb(0,128,0)&quot;}'&gt;&lt;/line-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <bar-chart data='[5,3,9,6,5,9,7,3,5,2]' options='{"fill": ["green", "red"]}'></bar-chart>
                  </td>
                  <td class="text-left"><code>&lt;bar-chart data='[5,3,9,6,5,9,7,3,5,2]' options='{&quot;fill&quot;: [&quot;green&quot;, &quot;red&quot;]}'&gt;&lt;/bar-chart&gt;</code></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                  <bar-chart data='[5,3,2,-1,-3,-2,2,3,5,2]' options='{"fill": ["green", "red", "blue"]}'></bar-chart>
                  </td>
                  <td class="text-left"><code>&lt;bar-chart data='[5,3,2,-1,-3,-2,2,3,5,2]' options='{&quot;fill&quot;: [&quot;green&quot;, &quot;red&quot;, &quot;blue&quot;]}'&gt;&lt;/bar-chart&gt;</code></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
