<div class="profile">
  <div class="profile-header">
    <div class="profile-cover">
      <div class="profile-container">
        <div class="profile-card">
          <div class="profile-avetar">
            <img class="profile-avetar-img" width="128" height="128" ng-src="img/0180441436.jpg" alt="Teddy Wilson">
          </div>
          <div class="profile-overview">
            <h1 class="profile-name">TeddyWilson</h1>
            <button class="profile-follow-btn" type="button">Follow</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae, quam reprehenderit blanditiis. Necessitatibus et vitae, eligendi explicabo sit voluptatibus dolores dolorem quas, sunt numquam rem, harum accusamus eaque debitis! <a class="link-inverted" href="#">elephant.theme/teddywilson</a></p>
          </div>
          <div class="profile-info">
            <ul class="profile-nav">
              <li>
                <a href="#">
                  <h3 class="profile-nav-heading">1,143</h3>
                  <em>
                    <small>posts</small>
                  </em>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3 class="profile-nav-heading">44M</h3>
                  <em>
                    <small>followers</small>
                  </em>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3 class="profile-nav-heading">125</h3>
                  <em>
                    <small>following</small>
                  </em>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="profile-tabs">
          <ul class="profile-nav">
            <li class="active">
              <a href="#">Posts</a>
            </li>
            <li><a href="#">Followers</a></li>
            <li><a href="#">Following</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-body">
    <div class="profile-container">
      <div class="feed" masonry>
        <div class="feed-item masonry-brick" ng-repeat="post in posts">
          <div class="post">
            <div class="post-header">
              <div class="post-author">
                <div class="post-author-avatar">
                  <img class="img-circle" width="48" height="48" ng-src="{{post.author.photo}}" alt="{{post.author.name}}">
                </div>
                <div class="post-author-info">
                  <span class="post-author-name">
                    <a href="#">{{post.author.name}}</a>
                  </span>
                  <span class="post-author-action">commented on this</span>
                  <span class="post-timestamp">{{post.timestamp}}</span>
                </div>
              </div>
              <div class="post-dropdown">
                <div class="dropdown">
                  <a class="dropdown-toggler" href="#" data-toggle="dropdown" aria-haspopup="true" role="button">
                    <span class="icon icon-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Mute</a></li>
                    <li><a href="#">Block</a></li>
                    <li><a href="#">Report</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="post-body">
              <div class="post-content">
                <p>{{post.message}}</p>
              </div>
              <div class="post-img">
                <a href="#">
                  <img class="img-responsive" ng-src="{{post.photo}}" alt="{{post.message}}">
                </a>
              </div>
              <div class="post-actions">
                <a class="post-action" href="#">
                  <span class="icon icon-thumbs-up icon-fw"></span>
                  Like
                </a>
                <a class="post-action" href="#">
                  <span class="icon icon-share icon-fw"></span>
                  Share
                </a>
                <div class="post-summary">
                  <small class="truncate">
                    <a class="link-muted" href="#">Likes: Ruby Dixon, Agatha Ford and 2.2k others</a>
                  </small>
                </div>
              </div>
            </div>
            <div class="post-footer">
              <div class="post-comments">
                <div class="post-comment-more">
                  <a class="link-muted" href="#">Show previous comments 167</a>
                </div>
                <div class="post-comment-list">
                  <ul class="media-list">
                    <li class="media" ng-repeat="comment in post.comments">
                      <a class="media-left" href="#">
                        <img class="media-object" width="32" height="32" ng-src="{{comment.photo}}" alt="{{comment.name}}">
                      </a>
                      <div class="media-body">
                        <span class="media-link">
                          <a href="#">{{comment.name}}</a>
                        </span>
                        <span class="media-content">{{comment.message}}</span>
                        <div class="media-actions">
                          <a href="#" title="Like this comment">Like</a>
                          <span aria-hidden="true"> · </span>
                          <a href="#" title="Reply on {{comment.name}}'s comment">Reply</a>
                          <span aria-hidden="true"> · </span>
                          <a class="link-muted" href="#">
                            <span class="icon icon-thumbs-o-up"></span>
                            69
                          </a>
                          <span aria-hidden="true"> · </span>
                          <a class="link-muted" href="#">{{comment.name}} mins</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="post-comment-box">
                  <form action="#">
                    <input class="form-control input-sm" type="text" placeholder="Add a comment…">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>