<div class="signup">
  <div class="signup-body">
    <a class="signup-brand" ui-sref="dashboards.dashboard-1">
      <img class="img-responsive" src="img/logo.svg" alt="Elephant">
    </a>
    <p class="signup-heading">
      <em>Get started with a free account. 30 day free trial, unlimited users, no credit card required.</em>
    </p>
    <h3 class="signup-heading">Sign up</h3>
    <div class="signup-form">
      <form name="signupForm" class="signup-form" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <div class="md-form-group md-label-floating">
              <input ng-model="firstName" class="md-form-control" type="text" name="firstName" spellcheck="false" required>
              <label class="md-control-label">First name</label>
              <div ng-show="signupForm.$submitted || signupForm.firstName.$touched">
                <small ng-show="signupForm.firstName.$error.required" class="has-error md-help-block">Please enter your first name.</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="md-form-group md-label-floating">
              <input ng-model="lastName" class="md-form-control" type="text" name="lastName" spellcheck="false" required>
              <label class="md-control-label">Last name</label>
              <div ng-show="signupForm.$submitted || signupForm.lastName.$touched">
                <small ng-show="signupForm.lastName.$error.required" class="has-error md-help-block">Please enter your last name.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="md-form-group md-label-floating">
              <input ng-model="email" class="md-form-control" type="email" name="email" spellcheck="false" required>
              <label class="md-control-label">Email</label>
              <div ng-show="signupForm.$submitted || signupForm.email.$touched">
                <small ng-show="signupForm.email.$error.required" class="has-error md-help-block">Please enter your email address.</small>
                <small ng-show="signupForm.email.$error.email" class="has-error md-help-block">Please enter a valid email address.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="md-form-group md-label-floating">
              <input ng-model="password" class="md-form-control" type="password" name="password" minlength="6" required>
              <label class="md-control-label">Password</label>
              <div ng-show="signupForm.$submitted || signupForm.password.$touched">
                <small ng-show="signupForm.password.$error.required" class="has-error md-help-block">Please enter your password.</small>
                <small ng-show="signupForm.password.$error.minlength" class="has-error md-help-block">Password must be 6 characters or more.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="md-form-group md-label-floating">
              <div class="row">
                <div class="col-xs-6">
                  <div class="md-form-group md-label-floating">
                    <select ng-model="birthMonth" class="md-form-control" name="birthMonth" required>
                      <option value="" disabled="disabled" selected="selected">Birth Month</option>
                      <option value="01">January</option>
                      <option value="02">February</option>
                      <option value="03">March</option>
                      <option value="04">April</option>
                      <option value="05">May</option>
                      <option value="06">June</option>
                      <option value="07">July</option>
                      <option value="08">August</option>
                      <option value="09">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="md-form-group md-label-floating">
                    <input ng-model="birthDay" class="md-form-control" type="number" name="birthDay" placeholder="Day" min="1" max="31" required>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="md-form-group md-label-floating">
                    <input ng-model="birthYear" class="md-form-control" type="number" name="birthYear" placeholder="Year" min="1900" max="2016" required>
                  </div>
                </div>
              </div>
              <div ng-show="signupForm.$submitted || signupForm.birthMonth.$touched || signupForm.birthDay.$touched || signupForm.birthYear.$touched">
                <small ng-show="signupForm.birthMonth.$error.required || signupForm.birthDay.$error.required || signupForm.birthYear.$error.required" class="has-error md-help-block">Please enter your birthday.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="md-form-group md-label-floating">
              <select ng-model="gender" class="md-form-control" name="gender" required>
                <option value="" disabled="disabled" selected="selected">Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Not specified</option>
              </select>
              <div ng-show="signupForm.$submitted || signupForm.gender.$touched">
                <small ng-show="signupForm.gender.$error.required" class="has-error md-help-block">Please indicate your gender.</small>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>
  </div>
  <div class="signup-footer">
    Already have an account? <a ui-sref="login-3">Log in</a>
  </div>
</div>