<h4 class="text-center m-y-md">
  <span>Choose your personal plan</span>
</h4>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="pricing-card">
      <div class="pricing-card-header bg-primary">
        <h4 class="m-y-sm">Elephant #1</h4>
      </div>
      <div class="pricing-card-body">
        <h2 class="pricing-card-price">
          <span class="pricing-card-currency">$</span>9.99<span class="pricing-card-unit">/mo</span>
        </h2>
        <ul class="pricing-card-details">
          <li>1GB / 1 cpu</li>
          <li>30GB SSD Storage</li>
          <li>2TB Transfer</li>
        </ul>
        <label class="custom-control custom-control-primary custom-radio">
          <input class="custom-control-input" type="radio" name="plan" value="1">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Choose this</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="pricing-card">
      <div class="pricing-card-header bg-primary">
        <h4 class="m-y-sm">Elephant #2</h4>
      </div>
      <div class="pricing-card-body">
        <h2 class="pricing-card-price">
          <span class="pricing-card-currency">$</span>19.98<span class="pricing-card-unit">/mo</span>
        </h2>
        <ul class="pricing-card-details">
          <li>2GB / 2 cpu</li>
          <li>60GB SSD Storage</li>
          <li>4TB Transfer</li>
        </ul>
        <label class="custom-control custom-control-primary custom-radio">
          <input class="custom-control-input" type="radio" name="plan" value="2" checked>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Choose this</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="pricing-card">
      <div class="pricing-card-header bg-primary">
        <h4 class="m-y-sm">Elephant #3</h4>
      </div>
      <div class="pricing-card-body">
        <h2 class="pricing-card-price">
          <span class="pricing-card-currency">$</span>29.97<span class="pricing-card-unit">/mo</span>
        </h2>
        <ul class="pricing-card-details">
          <li>4GB / 2 cpu</li>
          <li>90GB SSD Storage</li>
          <li>8TB Transfer</li>
        </ul>
        <label class="custom-control custom-control-primary custom-radio">
          <input class="custom-control-input" type="radio" name="plan" value="3">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Choose this</span>
        </label>
      </div>
    </div>
  </div>
</div><!-- /.row -->
<div class="form-group text-center">
  <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe unde, quis nemo totam porro illum ex. Distinctio, soluta, perferendis vitae sint amet atque, cumque quis doloremque obcaecati rem possimus nobis!</small></p>
  <button class="btn btn-primary btn-pill" type="submit">Continue</button>
</div>