<h4 class="text-center m-y-md">
  <span>Sign up with your email address</span>
</h4>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="form-group">
      <label class="control-label">Email address</label>
      <input ng-model="email" class="form-control" type="email" name="email" spellcheck="false" autocomplete="off" required>
      <small class="help-block"></small>
      <small class="help-block">You will occasionally receive account related emails.</small>
      <div ng-show="signupForm.$submitted || signupForm.email.$touched">
        <small ng-show="signupForm.email.$error.required" class="has-error help-block">Please enter your email address.</small>
        <small ng-show="signupForm.email.$error.email" class="has-error help-block">Please enter a valid email address.</small>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Username</label>
      <input ng-model="username" class="form-control" type="text" name="username" spellcheck="false" autocomplete="off" required>
      <small class="help-block">Only letters, numbers, and underscores are allowed.</small>
      <div ng-show="signupForm.$submitted || signupForm.username.$touched">
        <small ng-show="signupForm.username.$error.required" class="has-error help-block">Please enter your username.</small>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Password</label>
      <div class="input-group">
        <input ng-model="password" class="form-control" type="password" name="password" minlength="6" required>
        <span class="input-group-addon">
          <label class="custom-control custom-control-primary custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="password_toggler">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-label">Show</span>
          </label>
        </span>
      </div>
      <small class="help-block">6-character minimum; case sensitive.</small>
      <div ng-show="signupForm.$submitted || signupForm.password.$touched">
        <small ng-show="signupForm.password.$error.required" class="has-error help-block">Please enter your password.</small>
        <small ng-show="signupForm.password.$error.minlength" class="has-error help-block">Password must be 6 characters or more.</small>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Create an account</button>
    </div>
  </div>
</div><!-- /.row -->