<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Toggles</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
    <p class="title-bar-description">
      <small>All the elements presented below are an expanded version of the standard HTML checkbox element. JavaScript was not used for their implementation.</small>
    </p>
  </div><!-- /.title-bar -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Default custom checkbox</h5>
        <p><small class="text-muted">{{ checkbox.first}}, {{ checkbox.second}}</small></p>
        <label class="custom-control custom-control-default custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-default custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.second" ng-true-value="'yes'" ng-false-value="'no'">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-default custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Primary custom checkbox</h5>
        <p><small class="text-muted">{{ checkbox.first}}, {{ checkbox.second}}</small></p>
        <label class="custom-control custom-control-primary custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-primary custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.second" ng-true-value="'yes'" ng-false-value="'no'">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-primary custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Success custom checkbox</h5>
        <p><small class="text-muted">{{ checkbox.first}}, {{ checkbox.second}}</small></p>
        <label class="custom-control custom-control-success custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-success custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.second" ng-true-value="'yes'" ng-false-value="'no'">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-success custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Info custom checkbox</h5>
        <p><small class="text-muted">{{ checkbox.first}}, {{ checkbox.second}}</small></p>
        <label class="custom-control custom-control-info custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-info custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.second" ng-true-value="'yes'" ng-false-value="'no'">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-info custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Warning custom checkbox</h5>
        <p><small class="text-muted">{{ checkbox.first}}, {{ checkbox.second}}</small></p>
        <label class="custom-control custom-control-warning custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-warning custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.second" ng-true-value="'yes'" ng-false-value="'no'">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-warning custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Danger custom checkbox</h5>
        <p><small class="text-muted">{{ checkbox.first}}, {{ checkbox.second}}</small></p>
        <label class="custom-control custom-control-danger custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-danger custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.second" ng-true-value="'yes'" ng-false-value="'no'">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-danger custom-checkbox">
          <input class="custom-control-input" type="checkbox" ng-model="checkbox.third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body text-center" match-height>
        <div class="fh">
          <div class="fh-m">
            <small class="text-muted">You can change the size of the element, border width, border radius, the icon and colours with the variables stated in the file <code>_variables.scss</code>.</small>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="text-center m-b">
    <h3 class="m-b-0">Radios</h3>
    <small>All the elements presented below are an expanded version of the standard HTML radio button element.</small>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Default custom radio</h5>
        <p><small class="text-muted">{{ radio}}</small></p>
        <label class="custom-control custom-control-default custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-default custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="second">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-default custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Primary custom radio</h5>
        <p><small class="text-muted">{{ radio}}</small></p>
        <label class="custom-control custom-control-primary custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-primary custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="second">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-primary custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Success custom radio</h5>
        <p><small class="text-muted">{{ radio}}</small></p>
        <label class="custom-control custom-control-success custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-success custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="second">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-success custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Info custom radio</h5>
        <p><small class="text-muted">{{ radio}}</small></p>
        <label class="custom-control custom-control-info custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-info custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="second">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-info custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Warning custom radio</h5>
        <p><small class="text-muted">{{ radio}}</small></p>
        <label class="custom-control custom-control-warning custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-warning custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="second">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-warning custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Danger custom radio</h5>
        <p><small class="text-muted">{{ radio}}</small></p>
        <label class="custom-control custom-control-danger custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="first">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-danger custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="second">
          <span class="custom-control-indicator"></span>
        </label>
        <label class="custom-control custom-control-danger custom-radio">
          <input class="custom-control-input" type="radio" ng-model="radio" value="third" disabled>
          <span class="custom-control-indicator"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body text-center" match-height>
        <div class="fh">
          <div class="fh-m">
            <small class="text-muted">You can change the size of the element, border width, border radius, the icon and colours with the variables stated in the file <code>_variables.scss</code>.</small>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="text-center m-b">
    <h3 class="m-b-0">Switches</h3>
    <small>All the elements presented below are an expanded version of the standard HTML checkbox element.</small>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Default switch</h5>
        <p><small class="text-muted">{{ switch .first}}, {{ switch .second}}</small></p>
        <label class="switch switch-default">
          <input class="switch-input" type="checkbox" ng-model="switch .first" ng-true-value="'on'" ng-false-value="'off'">
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
        <label class="switch switch-default m-l">
          <input class="switch-input" type="checkbox" ng-model="switch .second" ng-true-value="'on'" ng-false-value="'off'" disabled>
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Primary switch</h5>
        <p><small class="text-muted">{{ switch .first}}, {{ switch .second}}</small></p>
        <label class="switch switch-primary">
          <input class="switch-input" type="checkbox" ng-model="switch .first" ng-true-value="'on'" ng-false-value="'off'">
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
        <label class="switch switch-primary m-l">
          <input class="switch-input" type="checkbox" ng-model="switch .second" ng-true-value="'on'" ng-false-value="'off'" disabled>
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Success switch</h5>
        <p><small class="text-muted">{{ switch .first}}, {{ switch .second}}</small></p>
        <label class="switch switch-success">
          <input class="switch-input" type="checkbox" ng-model="switch .first" ng-true-value="'on'" ng-false-value="'off'">
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
        <label class="switch switch-success m-l">
          <input class="switch-input" type="checkbox" ng-model="switch .second" ng-true-value="'on'" ng-false-value="'off'" disabled>
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Info switch</h5>
        <p><small class="text-muted">{{ switch .first}}, {{ switch .second}}</small></p>
        <label class="switch switch-info">
          <input class="switch-input" type="checkbox" ng-model="switch .first" ng-true-value="'on'" ng-false-value="'off'">
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
        <label class="switch switch-info m-l">
          <input class="switch-input" type="checkbox" ng-model="switch .second" ng-true-value="'on'" ng-false-value="'off'" disabled>
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Warning switch</h5>
        <p><small class="text-muted">{{ switch .first}}, {{ switch .second}}</small></p>
        <label class="switch switch-warning">
          <input class="switch-input" type="checkbox" ng-model="switch .first" ng-true-value="'on'" ng-false-value="'off'">
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
        <label class="switch switch-warning m-l">
          <input class="switch-input" type="checkbox" ng-model="switch .second" ng-true-value="'on'" ng-false-value="'off'" disabled>
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-body text-center" match-height>
        <h5>Danger switch</h5>
        <p><small class="text-muted">{{ switch .first}}, {{ switch .second}}</small></p>
        <label class="switch switch-danger">
          <input class="switch-input" type="checkbox" ng-model="switch .first" ng-true-value="'on'" ng-false-value="'off'">
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
        <label class="switch switch-danger m-l">
          <input class="switch-input" type="checkbox" ng-model="switch .second" ng-true-value="'on'" ng-false-value="'off'" disabled>
          <span class="switch-track"></span>
          <span class="switch-thumb"></span>
        </label>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body text-center" match-height>
        <div class="fh">
          <div class="fh-m">
            <small class="text-muted">To change the appearance of this element you can use variables. Depending on the changes in these values, the element can take a completely different view.</small>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.layout-content-body -->
