/*! Custom styles for this template */
.login-page-3 {
  display: table;
  height: 100%;
  width: 100%;
}

.login-page-3 .login {
  display: table-cell;
  vertical-align: middle;
}

.login-page-3 .login-body {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
       -o-animation-name: fadeInUp;
          animation-name: fadeInUp;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  padding: 30px;
}

.login-page-3 .login-brand {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}

.login-page-3 .login-heading {
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 30px;
  text-align: center;
}

.login-page-3 .login-footer {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
       -o-animation-name: fadeIn;
          animation-name: fadeIn;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 360px;
  text-align: center;
}

.login-page-3 .md-custom-controls {
  padding-bottom: 0;
  padding-top: 0;
}

.login-page-3 .md-help-block.has-error {
  color: #d50000;
}

@media (min-width: 768px) {
  .login-page-3 .login-body {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
