/*! Custom styles for this template */
.store-page .widget {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.store-page .widget:before,
.store-page .widget:after {
  content: " ";
  display: table;
}

.store-page .widget:after {
  clear: both;
}

.store-page .widget-heading {
  margin-top: 0;
}

.store-page .widget .slider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.store-page .widget .btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0;
  width: 32px;
}

.store-page .store-content {
  max-width: 1920px;
}

.store-page .products {
  list-style: none;
  margin: 0 -15px;
  padding-left: 0;
}

.store-page .products:before,
.store-page .products:after {
  content: " ";
  display: table;
}

.store-page .products:after {
  clear: both;
}

.store-page .product {
  float: left;
  margin-bottom: 30px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 50%;
}

.store-page .product-details {
  padding: 10px;
  text-align: center;
}

.store-page .product-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 0;
}

.store-page .product-rating {
  color: #e0e0e0;
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.store-page .product-rating .icon.active {
  color: #f6b63a;
}

.store-page .product-price {
  color: #757575;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
}

.store-page .product-price-current {
  margin-left: 5px;
  margin-right: 5px;
}

.store-page .product-price-old {
  color: #757575;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: line-through;
}

.store-page .product-price-range {
  text-align: right;
}

.store-page .modal-dialog {
  background-color: #eceff1;
  margin: 0;
  min-height: 100%;
  width: 260px;
}

.store-page .modal-content {
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.store-page .divider {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 991px) {
  .store-page .layout-content-body {
    -webkit-animation-duration: 0;
         -o-animation-duration: 0;
            animation-duration: 0;
    -webkit-animation-fill-mode: none;
         -o-animation-fill-mode: none;
            animation-fill-mode: none;
    -webkit-animation-name: none;
         -o-animation-name: none;
            animation-name: none;
  }
  .store-page .modal-dialog {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .store-page .product:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: 992px) {
  .store-page .store-sidebar {
    display: block;
    float: left;
    width: 220px;
  }
  .store-page .modal {
    bottom: auto;
    display: block !important;
    left: auto;
    overflow: visible;
    position: static;
    right: auto;
    top: auto;
    z-index: auto;
  }
  .store-page .modal-dialog {
    width: auto;
  }
  .store-page .modal-body {
    padding: 0;
  }
  .store-page .modal-open {
    overflow: visible;
    padding-right: 0 !important;
  }
  .store-page .modal-backdrop {
    display: none !important;
  }
  .store-page .store-content {
    margin-left: 250px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .store-page .product {
    width: 33.33333333%;
  }
  .store-page .product:nth-child(3n+1) {
    clear: both;
  }
}

@media (min-width: 1200px) {
  .store-page .product {
    width: 25%;
  }
  .store-page .product:nth-child(4n+1) {
    clear: both;
  }
}
